<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="UseWebpackDevServer" value="true" xdt:Transform="InsertIfMissing" xdt:Locator="Match(key)" />
    <add key="WebpackDevServerRoot" value="http://localhost:8080" xdt:Transform="InsertIfMissing" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation debug="true" xdt:Transform="SetAttributes(debug)" />
  </system.web>
</configuration>
