@if (!Settings.UseWebpackDevServer)
{
    @section styles {
        @*<link rel="stylesheet" href="~/dist/@(WebpackAsset.Style("common"))" />*@
        <link rel="stylesheet" href="~/dist/@(WebpackAsset.Style("vue-app.vendor"))" />
        <link rel="stylesheet" href="~/dist/@(WebpackAsset.Style("vue-app"))" />
    }
}

<div id="app">Loading...</div>

@section scripts {
    @if (Settings.UseWebpackDevServer)
    {
        <script src="@(Settings.WebpackDevServerRoot)/vue-app.js"></script>
    }
    else
    {
        <script src="~/dist/@(WebpackAsset.Script("common"))"></script>
        <script src="~/dist/@(WebpackAsset.Script("vue-app.vendor"))"></script>
        <script src="~/dist/@(WebpackAsset.Script("vue-app"))"></script>
    }
}
