<div id="content"></div>

@section scripts {
    @if (Settings.UseWebpackDevServer)
    {
        <script src="@(Settings.WebpackDevServerRoot)/vendor.home.js"></script>
        <script src="@(Settings.WebpackDevServerRoot)/app.home.js"></script>
    }
    else
    {
        @Scripts.Render("~/scripts/home")
    }
}
